@model Bloggie.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Bloggie - Mai Nhật Duy
            </h1>
            <p class="lead">
                Chào mọi người! Tôi rất vui khi chia sẻ với các bạn về trang web Blog của mình.
                Đây là nơi tôi chia sẻ những suy nghĩ, cảm xúc và những câu chuyện đời thường
                của mình. Trên trang web của tôi, bạn sẽ tìm thấy những bài viết về nhiều chủ đề
                khác nhau, từ kinh nghiệm cá nhân, đến cuộc sống hàng ngày và những suy
                nghĩ về công nghệ. Tôi cũng thường viết về các cuốn sách hay và chia sẻ những suy
                nghĩ của mình về các chủ đề văn học.
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 alt="Bloggie - dev blog"
                 class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>

<div class="container">
    <div class="justify-content-center">
        <div class="col-6 d-flex">
            @if (Model != null && Model.Tags.Any())
            {
                foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-dark me-1">@tag.Name</span>
                }
            }
        </div>
    </div>
</div>


<div class="container mt-3 mb-5">
    <div class="row">
        @if (Model != null && Model.BlogPosts.Any())
        {
            foreach (var blogPost in Model.BlogPosts)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@blogPost.Heading</h5>
                            <p class="card-text">
                                Author: @blogPost.Author<br />
                                Publish Date: @blogPost.PublishedDate.ToShortDateString()
                            </p>
                            <p class="card-text">
                                @foreach (var tag in blogPost.Tags)
                                {
                                    <span class="badge bg-secondary me-2">@tag.Name</span>
                                }
                            </p>
                            <p class="card-text">@blogPost.ShortDescription</p>
                        </div>
                        <a class="btn btn-sm btn-dark position-absolute bottom-0 end-0 m-2 mt-5" asp-area="" asp-controller="Blogs" asp-action="Index" asp-route-urlHandle="@blogPost.UrlHandle">Read More</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
